# Dependencies
node_modules/

# Next.js build output
.next/
out/222222
build/
.next/trace
.next/cache/webpack/client-development/index.pack.gz
.next/*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# Supabase CLI artifacts (if using supabase locally)
.supabase/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript build cache
*.tsbuildinfo

# Coverage
coverage/

# Optional lock files
package-lock.json
yarn.lock
.pnpm-lock.yaml

# Optional editor-specific files
*.sublime-workspace
*.sublime-project

.next/trace
